<div class = "jumbotron">
	<div class = "container">
		<h2 class = "heading">About Me</h2>
		<br>

		<div class = "profile_picture">
			<%= image_tag("about.jpg", alt: "profile picture", class: "img-responsive") %>
		</div>

		<h3> Hello, My name is An Le. </h3>

		<p> I'm an aspiring Rails Developer and this is one of my projects. A nice blog app that's responsive to different viewports, a toggle button at the top that will collapse the menu for you and allow you to read my posts better, a user and admin login system, and lastly, a comments system on the article pages where the comments can only be deleted by the creator of the comments. </p>

		<p> If you like the way this blog app works, you can grab the code from my github: <%= link_to "https://github.com/Anle90/MyBlog.git", "https://github.com/Anle90/MyBlog.git" %> </p>

		<p> If you have any Rails related about this blog or in general, you can contact me through the <%= link_to "contact page", contact_path %> or at asble@ucdavis.edu. </p>

	</div>
</div>