#article_title, #article_body {
	width: 100%;
	border-radius: 5px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #f2edf2 25px); 
	background: -o-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #f2edf2 25px); /* For Opera 11.1 to 12.0 */
  	background: linear-gradient(top, #FFFFFF, #EEEEEE 1px, #f2edf2 25px); /* Standard syntax */


	-webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    
} 


#article_body {
	height: 200px;
}



