<html>
  <body>

 <h1 class = "heading"><%= @message.name %> has sent you a message via your contact form on your blog</h1>

 <p><%= @message.name %>'s email address is :<%= @message.email %> </p>

 <h3> This persons message is as follows: </h3>
  
 <p> <%= @message.body %> </p>

  </body>
</html>
